[submodule "betterlockscreen"]
	path = betterlockscreen
	url = https://aur.archlinux.org/betterlockscreen.git
[submodule "librewolf-bin"]
	path = librewolf-bin
	url = https://aur.archlinux.org/librewolf-bin.git
[submodule "paru"]
	path = paru
	url = https://aur.archlinux.org/paru.git
[submodule "shell-color-scripts"]
	path = shell-color-scripts
	url = https://aur.archlinux.org/shell-color-scripts
[submodule "i3lock-color"]
	path = i3lock-color
	url = https://aur.archlinux.org/i3lock-color.git
[submodule "mkinitcpio-openswap"]
	path = mkinitcpio-openswap
	url = https://aur.archlinux.org/mkinitcpio-openswap.git
